
.popup{
    position: fixed;
    z-index: 1000;
    top: 1%;
    left: 74%;
    width: 480px;
  
    
    /* height: 80vh; */
    /* background-color: aliceblue; */
  
    /* background-color:red; */
/* 
    display: center;
    justify-content: center;
    align-items: center;   */
    /* transform: translate(-45% , -50%); */
}
.popup-inner{
    display: flex;
    display: center;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    position: relative;
    padding: 18px;
    /* height: 80vh; */
    width: 100%; 
    /* max-width: 640px;  */
    background-image: linear-gradient(
        0deg,
        hsl(39, 64%, 25%) 30%,
        hsl(39, 85%, 53%) 58%,
        hsl(37, 62%, 24%) 100%
      );

    border-radius: 8px; 
    /* font-family:'Courier New', Courier, monospace; */
    /* text-align: center; */
}
h2{
    font-family: 'Poppins', sans-serif;
}
.popup-inner  .close-btn{
    position: absolute;
    display: block;
    margin: 0 0 2px auto;
    background-color: transparent;
    font-size: 30px;
    color: #faf7f7;
    border: none;
    outline: none;
    cursor: pointer;
    top: 1.4px;
    right: 11px;
}
.popup a{
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
    width: 180px;
    /* margin: 10%; */
    text-align: center;
    color: #FFF;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 5px;
    background-color: rgb(0, 0, 0);
}
.popup img{
    width: 50%;
    
}