.popup{
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 35%;
    width: 450px;
    /* height: 100vh; */
    /* background-color: aliceblue; */
  
    /* background-color:red; */

    display: flex;
    justify-content: center;
    align-items: center;  
    /* transform: translate(-45% , -50%); */
}
.popup-inner{
    position: relative;
    padding: 32px;
    
    width: 100%; 
    /* max-width: 640px;  */
    background-color: #FFC640
    ;
    border-radius: 8px; 
}
.popup-inner  .close-btn{
    position: absolute;
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
    top: 16px;
    right: 16px;
}
.popup a{
    display: block;
    width: 150px;
    margin: auto;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    padding: 5px 0;
    background-color: rgb(0, 0, 0);
}