
.popup {
    position: fixed;
    z-index: 1000;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 480px;
  
    @media screen and (max-width: 480px) {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(0%, 10%);
    }
  }
  
/*#dfd57a, #dd8c1b, #bec5c5
linear-gradient(135deg, #8a3ab9, #e959a1)
*/
  .popup-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 18px;
    width: 100%;
    background: linear-gradient(155deg, #01172e, #03488d);
    border-radius: 8px;
    transform-origin: top center; /* Set the transform origin to the top right corner */
    animation: pageTurn 0.5s 1 forwards;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.747);
  }

  @keyframes pageTurn {
    0% {
      transform: perspective(500px) rotateX(-30deg);
    }
    100% {
      transform: perspective(500px) rotateX(-0deg);
    }
  }
  .popup-content {
    display: flex;
    align-items: center;
    justify-content:first baseline; 
    width: 100%;
  }
  .popup-inner h2 {
    font-family: 'Poppins', sans-serif;
  }
  
  .popup-inner .close-btn {
    position: absolute;
    display: block;
    background-color: transparent;
    font-size: 30px;
    color: #faf7f7;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .social-icons {
    position: absolute;
    top: 50%;
    left: 10px;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
  }
  
  .social-icons a {
    margin-bottom: 30px;
    color: #757575 ;
    font-size: 20px;
  }

  .social-icons a:hover {
    color: #ffbb00;
    font-size: 21px;
  }
  
  .find-more-events {
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
    width: 180px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 5px;
    background-color: rgb(0, 0, 0);
  }
  
  .popup img {
    width: 50%;
    height: 95%;
    animation: rotateYScale 4s ease-in-out 1 forwards, scaleAndShift 0.5s 3s 1 forwards;
  }
  
  @keyframes rotateYScale {
    0% {
      transform: translateX(45%) rotateY(0deg) scale(1);
    }
    25% {
      transform: translateX(45%) rotateY(180deg) scale(1.2);
    }
    50% {
      transform: translateX(45%) rotateY(360deg) scale(1);
    }
    75% {
      transform: translateX(45%) rotateY(540deg) scale(0.8);
    }
    100% {
      transform: translateX(0%) scale(0.8);
    }
  }
  
  
  .popup-text {
    position: relative;
    opacity: 0;
    transform: translateY(50%);
    animation: fadeInUp 0.5s 3s forwards;
    margin-bottom:20px;
    
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .popup-text1 {
    color: #ffbb00; 
    font-size: 21px; 
    font-weight: bold;

  }
  
  .popup-text2 {
    color: #f98dfd; 
    font-size: 15px; 
    margin-top: 20px;
    font-weight: bold;
  }
  
  .popup-text3 {
    color: #ffffff; 
    font-size: 22px; 
    font-weight: bold;
  }

  .popup-button {
    display: inline-block;
    padding: 0 3px;
    margin-top: 7px;
    background-color: #dfeeff;
    color: #00084e; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .popup-button:hover {
    background-color: #0056b3; /* Change background color on hover */
  }
  
 
  .snowfall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1001;
  }
  
  .snowflake {
    position: absolute;
    width: 4px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.7;
    animation: snowfallAnimation linear infinite;
  }
  
  @keyframes snowfallAnimation {
    to {
      transform: translateY(100vh) rotate(360deg);
    }
  }


  .close-btn {
    top: -2px;
    right: 0px;
    height: 50px;
    width: 50px;
  }


@media screen and (max-width: 480px) {

  .popup-text1 {
    font-size: 18px;
  }

  .popup-text2 {
    font-size: 13px; 
    margin-top: 10px;
  }

  .popup-text3 {
    font-size: 17px; 
  }

  .popup-button {
    font-size: 14px;
  }
}