
.popup{
    position: fixed;
    z-index: 1000;
    top: 1%;
    left: 39.7%;
    width: 500px;
  
    /* height: 80vh; */
    /* background-color: aliceblue; */
  
    /* background-color:red; */
/* 
    display: center;
    justify-content: center;
    align-items: center;   */
    /* transform: translate(-45% , -50%); */
}
.popup-inner{
    display: flex;
    display: center;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    position: relative;
    padding: 32px;
    /* height: 80vh; */
    width: 100%; 
    /* max-width: 640px;  */
    background-color: #a87d17;
    background-color: #FFC640;

    border-radius: 8px; 
    /* font-family:'Courier New', Courier, monospace; */
    /* text-align: center; */
}
h2{
    font-family: monospace;
}
.popup-inner  .close-btn{
    position: absolute;
    display: block;
    margin: 0 0 2px auto;
    background-color: transparent;
    font-size: 30px;
    color: #faf7f7;
    border: none;
    outline: none;
    cursor: pointer;
    top: 2px;
    right: 16px;
}
.popup a{
    display: block;
    margin-top: 12px;
    margin-bottom: 20px;
    width: 180px;
    /* margin: 10%; */
    text-align: center;
    color: #FFF;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 5px;
    background-color: rgb(0, 0, 0);
}
.popup img{
    width: 50%;
    
}