body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

.sponsors {
  padding: 20px;
}

.sponsors-title {
  display: flex;
  border-left: 7px solid goldenrod;
  align-items: center;
  gap: 10px;
  font-size: 1.9rem;
  color: white;
  margin-bottom: 50px;
}

.sponsors-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.sponsor-card {
  display: flex;
  align-items: center;
  gap: 15px;
  width: calc(30% - 10px);
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sponsor-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.sponsor-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sponsor-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sponsor-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.sponsor-role {
  font-size: 0.8rem;
  color: #3d3a3a;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  .sponsors-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .sponsors-grid {
    gap: 15px;
  }
  
  .sponsor-card {
    width: 100%;
    padding: 10px;
  }
  
  .sponsor-image {
    width: 60px;
    height: 60px;
  }
  
  .sponsor-name {
    font-size: 1rem;
  }
  
  .sponsor-role {
    font-size: 0.7rem;
  }
}