  .sidebar {
    width: 20%;
    padding: 1.5rem;
    position: sticky;
    top: 13rem;
    height: 65vh;
    background-color: #1e1e1e; 
    color: #fff; 
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15%; 
    transition: transform 0.3s ease;
  }
  
  .sidebar:hover {
    transform: translateX(10px);
  }
  
  .sidebar h3 {
    font-size: 1.25rem;
    color: #f39c12;
    margin-bottom: 1rem;
  }
  
  .sidebar p {
    font-size: 1rem;
    color: #bbb;
  }
  