/* Reset styles */
body, h1, form, label, input, textarea, input[type="submit"] {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

/* General styling */
body {
    background: linear-gradient(51deg, rgba(94, 71, 17, 1) 0%, rgba(22, 21, 17, 1) 100%);
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
}

.form-div {
    margin-top: 100px;
    margin-bottom: 250px;
    margin-left: 0%;
    margin-right: 0%;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    /* border-radius: 11px; */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form label {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-right: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    color: #333;
}

form input[type="submit"] {
    background-color: #f0c14b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #ffdb58;
}

form label i {
    font-size: 1.2em;
}

form textarea {
    resize: vertical;
}

/* Social media input fields */
form input[type="text"][placeholder="Twitter"],
form input[type="text"][placeholder="Instagram"],
form input[type="text"][placeholder="LinkedIn"] {
    background-color: #f5f5f5;
    color: #333333;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    margin: 8px 0;
    font-size: 16px;
}

form label[for="Social_twitter"],
form label[for="Social_insta"],
form label[for="Social_linkedin"] {
    margin-right: 0;
    margin-bottom: 5px;
    display: block;
}

/* Styling for form container */
.form-container {
    background: linear-gradient(90deg, #360242 7%, #b56400 41%);
    color: white;
}

.form-container:hover {
    box-shadow: 4px 4px #fff, 4px 4px 0 0 #fff;
    transform: translate(-1px, -1px);
}

.heading {
    margin-top: 80px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 50px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 550;
}

/* Form element styling */
.form-element {
    display: flex;
}

.FormIcons {
    margin: auto;
    height: 7%;
    width: 6.5%;
}

/* Double slider page styling */
.double-slider-page {
    display: flex;
    align-items: flex-start;
}

.left-slider,
.right-slider {
    width: 50%;
    flex: 1;
    margin: 0;
    padding: 0;
}

.left-slider {
    padding: 50px 50px 50px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-slider h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.left-slider p {
    font-size: 18px;
    max-width: 80%;
    text-align: center;
    margin-bottom: 20px;
}

/* .instagram-icon {
    font-size: 50px;
    margin-top: auto;
} */

.right-slider {
    display: flex;
    align-items: center;
}